<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.jumper.openplatformdemo">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".fetalheart.PlayRecorderActivity_"
            android:screenOrientation="portrait"/>

        <meta-data
        android:name="JUMPER_APPID"
        android:value="A9C7559C5C994A9D84A39859493D2479" />




        <activity
            android:name=".fetalheart.HistoryListActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".bledevice.BleDeviceDemoActivity_"
            android:screenOrientation="portrait">
        </activity>


        <!-- 目前，如果不用更改Theme ，可以不用添加此activity -->
        <activity
            android:name="com.jumper.jumperopenplatform.RecordingActivity"
            android:theme="@style/AppTheme.My.Recording"
            android:launchMode="singleTask"
            tools:replace="android:theme"
            android:screenOrientation="portrait"/>

            <!--<activity-->
            <!--android:name="com.jumper.jumperopenplatform.DeviceScanActivity"-->
            <!--android:theme="@style/AppTheme.NoActionBar.ScanDevice"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="adjustPan"/>-->


    </application>

</manifest>